.content-item {
    /* 上に戻るボタンが邪魔になるのを防ぐための余白 */
    margin-bottom: 120px;
}

.youtube-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.youtube-wrapper iframe {
    width: 100% !important;
    height: 100% !important;
}

.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image-row figure {
    flex: 1;
    margin: 0;

    img {
        max-width: 100%;
    }
}

.image-row .image-row-description {
    flex: 1;
    margin-left: 10px;
}

.image-row .image-row-description-padding-top {
    padding-top: 60px;
}

.text-white {
    color: white;
}

.toggle-button {
    margin-bottom: 1em;
    padding: 6px 12px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.slide-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.image-row {
    /* 授業スライドの高さが足りなかった。400だとわざわざスクロールしなくてはならなくなる */
    height: 600px;
    overflow: scroll;
}

.title-list {
    /*文字色*/
    border: dashed 2px var(--primary);
    /*破線 太さ 色*/
    background: #f1f8ff;

    li {
        height: 10px;
        background-color: white;
        background: none;
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline 2px var(--primary);

        a {
            color: var(--primary);
        }
    }
}

.scroll-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 999;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

@media (max-width: 768px) {
    .image-row {
        display: block;
    }

    .image-row .image-row-description {
        padding: 0px;
        margin: 0px;
    }

    #slide-row {
        height: 800px;
    }

    .scroll-top-btn {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}