.content-item {
    margin-bottom: 30px;
}

.youtube-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.youtube-wrapper iframe {
    width: 100% !important;
    height: 100% !important;
}

.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image-row figure {
    flex: 1;
    margin: 0;

    img {
        max-width: 100%;
    }
}

.image-row .image-row-description {
    flex: 1;
    margin-left: 10px;
}

.image-row .image-row-description-padding-top {
    padding-top: 60px;
}

h5 {
    background-color: #1565c0;
    font-size: 18px;
    color: white;
}

.text-white {
    color: white;
}

.toggle-button {
    margin-bottom: 1em;
    padding: 6px 12px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.slide-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

#slide-row {
    height: 400px;
    overflow: scroll;
}


@media (max-width: 768px) {
    .image-row {
        display: block;
    }

    .image-row .image-row-description {
        padding: 0px;
        margin: 0px;
    }

    #slide-row {
        height: 800px;
    }
}