#sisaku-list {
    background-color: var(--bg);
    border: none;
    border-radius: 20px;
    width: 100%;
    max-height: 100vh;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    box-shadow: var(--neu-raised);
    overflow-y: auto;
}

.question-title {
    .source-link {
        text-decoration: underline;
        color: blue;
    }
}