.word-list-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.item {
    flex: 1 1 350px;
    margin: 5px;
}

.item-list {
    list-style-type: none;
    margin-top: 5px;
}

.sub-item-list {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 5px;
}

.list-word {
    font-weight: 700;

    a {
        font-size: large;
        color: var(--primary)
    }
}

.coming-soon {
    font-size: 0.8em;
    color: #888;
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    text-decoration: underline;
}

.text-white {
    color: white;
}

li {
    margin-bottom: 5px;
}