/* 問題リスト */
.question-list {
    /* 外側の四角の横幅を80%に設定 */
    margin: 0 auto;
    /* 中央に配置 */
    height: auto;
    /* 高さを自動調整 */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    /* 問題リストが長くなるとスクロールする */
}

/* 問題カードのスタイル */
.question-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-height: 100vh;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: row;
    /* 横並び */
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    /* カード間のスペース */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    /* カード内が長くなるとスクロール */
}

/* 
 * 問題ページ
*/

.question-label, .code-label, .output-label, .func-label {
    color: white;
    padding: 0px 10px;
}

.question-label {
    background-color: #0288d1;
}

.question-content {
    background-color: #eaf4ff;
}

.code-label {
    background-color: #CD3232;
}

.code-area {
    display: flex;
    max-width: 100%;
    /* 画面サイズを越えない */
    border: 1px solid #ddd;
    /* 境界線を追加 */
    overflow-x: auto;
    /* 横スクロール可能 */
}

.line-numbers {
    text-align: right;
    padding-right: 10px;
    background-color: #f0f0f0;
    color: gray;
    user-select: none;
    /* 選択不可 */
    white-space: nowrap;
    flex-shrink: 0;
    /* 幅を固定 */
    font-size: 20px;
    padding: 10px 0px;
    /* インデントが揃わなくなる */
    white-space: pre;
}

.code-container {
    display: flex;
    align-items: flex-start;
}

.line-numbers {
    text-align: right;
    white-space: pre;
    user-select: none;
    /* 行番号を選択不可にする */
    color: gray;
}

.code-box {
    white-space: pre;
    /* 改行とスペースをそのまま表示 */
    overflow-x: auto;
    flex-grow: 1;
    /*  残りの幅を埋める */
    background-color: #F5D6D6;
    font-size: 20px;
    padding: 10px 15px;
}

.code-box input {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border: 3px solid #aaa;
    height: 20px;
}

.input-60 {
    width: 60px;
}

.input-180 {
    width: 180px;
}

.input-270 {
    width: 270px;
}

.input-360 {
    width: 360px;
}

.output-label {
    background-color: #4F943B;
}

.output-content {
    background-color: #E2F0D9;
}

.func-label {
    background-color: #BF9000;
}

.func-content {
    background-color: #FFE699;
}

#open-tsuchinoko-button, #create-url-button {
    font-size: 20px;
}

.output-content-dialog {
    padding: 20px 0px;
    font-size: 20px;
    font-weight: bold; 
}

#close-button {
    background-color: #ddd;
    color: black
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    /* Safariで表示されるデフォルトの三角形アイコンを消します */
    display: none;
}

.details-label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border: 2px solid #1565c0;
    margin-top: 15px;
}

.details-content {
    background-color: #f0f2ff;
    padding: 10px 15px;
}

.prev-next-button {
    background-color: #1565c0;
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}

.prev-next-button a {
    color: white;
    text-decoration: white;
}